# Module 3: Python

We will review some key elements of the Python programmign language:
1. Data Structures: https://docs.python.org/3/tutorial/datastructures.html 
2. Functional programming: https://docs.python.org/3/howto/functional.html
3. Jupyter Notebooks: https://jupyter-notebook.readthedocs.io/en/stable/notebook.html

More references, quick Python tutorial: https://docs.python.org/3/tutorial/

## Mutable vs Immutable Data

Python mantains *data* in memory which are referenced by *variables*.

In [60]:
x = "Hello"
print(x)

Hello

           +-------------+
    x ---> | Hello       |
           +-------------+

### Immutable Strings

Python Strings are immutable. Namely, there is no way to modify the content of the data referenced by `x`.
- If we want to change the string x = "Hello", we have to create a new string and update the reference.

In [ ]:
x = "Hello World"
print(x)

           +-------------+
    x -+   | Hello       |
       |   +-------------+
       |
       |    +--------------+
       +--> | Hello World  |
            +--------------+

### Mutable lists

Python supports mutable lists.

In [61]:
x = [1, 2, 3]
y = x
print(x)
print(y)

[1, 2, 3]
[1, 2, 3]

    y
    |
    |
    |      +---+---+---+
    +----->|   |   |   |
           | 1 | 2 | 3 |
    x ---->|   |   |   |
           +---+---+---+

Unlike strings, if we want to change the value of `x`, Python allows in-place modification of `x`. 

- In-place modifcation:

In [62]:
x[0] += 10
print(x)

[11, 2, 3]

    y
    |
    |
    |      +----+---+---+
    +----->|    |   |   |
           | 11 | 2 | 3 |
    x ---->|    |   |   |
           +----+---+---+

#### Side-effects of mutable data
Note that the side effect of `x[0] += 10` is that `y` also gets updated.

In [63]:
print(y)

[11, 2, 3]

## Aggregate Types in Python

- List
- Memory model of lists
- Tuple
- Dictionary
- Set

### Lists
Python list is arguably the most versatile compound data types.

####  Construction
One can construct lists with the list syntax: `[ ... ]`. Elements are separated by `,`.

In [64]:
squares = [1, 4, 9, 16, 25]
print(squares)
print(len(squares))

[1, 4, 9, 16, 25]
5

#### Indexing by position

In [65]:
# indexing returns the item
print(squares[0])  
print(squares[-1])

1
25

#### Indexing by Range

In [66]:
# indexing from start to end
# start - inclusive
# end - exclusive
print(squares[0:3])
print(squares[1:3])

# start can be omitted, the
# default start is 0.
print(squares[:3])
print(squares[:5])


# the end can be omitted, and
# the default end is the
# length of the list.
print(squares[3:])
print(squares[:])

[1, 4, 9]
[4, 9]
[1, 4, 9]
[1, 4, 9, 16, 25]
[16, 25]
[1, 4, 9, 16, 25]

### List Memory Model

Consider the following code operating on Python lists:

In [67]:
x = [1]
y = [2]
z = [3]

# stores references to values of x,y,z
list1 = [x, y, z]

print(list1)

[[1], [2], [3]]

    +-----+-----+-----+
    |  *  |  *  |  *  |  
    +--|--+--|--+--|--+
       |     |     |
       |     |     |
   x   | y   | z   |
    \  |  \  |  \  |  
     \ |   \ |   \ |  
     +---+ +---+ +---+
     | 1 | | 2 | | 3 |
     +---+ +---+ +---+

#### Side-effects
Modifying `x` will also affect the content of list

In [68]:
x[0] = -1
print(list1)

[[-1], [2], [3]]

Modifying `list1` will also modify `x`

In [69]:
list1[0][0]=-5
print(x)

[-5]

## Tuples
Tuples are *immutable* lists.

1. No element can be removed from a tuple.
2. No element can be added to a tuple.
3. Entries of a tuple cannot be altered.

### Construction and indexing
Construction `(__, __, __)`. The parenthese are optional:

```
t = (12345, 54321, 'hello!')
t = 12345, 54321, 'hello!'
```

In [70]:
t = (12345, 54321, 'hello!')
print(t)

# indexing is the same as lists
print(t[0])

# tuples can be nested
u = t, (1, 2, 3, 4, 5)
print(u)

(12345, 54321, 'hello!')
12345
((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

**Tuples are immutable**

In [71]:
# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

However, if the elements are mutable data structures, we can update the element values themselves.

In [74]:
v = ([1, 2, 3], [3, 2, 1])
print(v)

v[0].append(5)
print(v)

# tuples can be empty -- parenthesis are required
emptyT = ()
print(emptyT)

([1, 2, 3], [3, 2, 1])
([1, 2, 3, 5], [3, 2, 1])
()

Singletons are tuples with just one element. The syntax requires the trailing comma `,`. The parentheses are optional.

```
one_thing = ('hello',)
one_thing = 'hello',
```

We can unpack the tuples into variables.

In [73]:
print(t)

x,y,z = t
print(x)
print(y)
print(z)

(12345, 54321, 'hello!')
12345
54321
hello!

## Sets
A set is a collection with no ordering and does not allow duplicate elements.

### Construction and access
The construction of set is done with the curly braces.

In [75]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'banana', 'orange', 'pear', 'apple'}

In [76]:
'orange' in basket                 # fast membership testing using the in operator

True

In [78]:
'pineapple' not in basket

True

The `set(...)` function converts a sequence into a set by removing any duplicates.

In [80]:
# set operations on unique letters from 2 words
a = set('abracadabra')
b = set('alacazam')
print(a) # unique letters in a

{'z', 'a', 'm', 'l', 'c'}

Set arithmetics are:

- set difference
- set union
- set intersection
- set exclusive-union (xor)

In [81]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [82]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [83]:
a & b                              # letters in both a and b

{'a', 'c'}

In [84]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

## Dictionaries

Dictionary is one of the most important data type in Python. Unlike lists, the elements are indexed by arbitrary (immutable) values.

**Definition**

- Indexing values are the keys in the dictionary.
- The indexed elements are the values in the dictionary.
All keys must be unique, but not the values.

**Construction**

Construction using `{ key:val, ...}`
```
tel = {'jack': 4098, 'sape': 4139}
```

Construction using the `dict(...)` constructor:
```
tel = dict(jack=4098, sape=4139)
```

Construction using `dict(...)` to construct the dictionary from a sequence of key/value pairs.
```
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])
```

In [86]:
tel = {'jack': 4098, 'sape': 4139}
print(tel)

print(tel['jack'])     # retrieve the value of a given key

tel['guido'] = 4127    #create new key/value pairs in the dictionary
print(tel)

del tel['sape'] # delete a key and its value.
print(tel)
tel['irv'] = 4127
print(tel)

#interprete a dictionary as a list, we get the list of keys.
print(list(tel)) 
print(sorted(tel))

# check if a key exists in a dictionary using the in operator.
print('guido' in tel)
print('jack'  in tel)

{'jack': 4098, 'sape': 4139}
4098
{'jack': 4098, 'sape': 4139, 'guido': 4127}
{'jack': 4098, 'guido': 4127}
{'jack': 4098, 'guido': 4127, 'irv': 4127}
['jack', 'guido', 'irv']
['guido', 'irv', 'jack']
True
True

We can get a sequence of key/value pairs (as tuples) using the `.items()` method.

In [87]:
for (name, number) in tel.items():
    print("%s: %s" % (name, number))

jack: 4098
guido: 4127
irv: 4127